.header-main {
    background-color: rgb(41 102 64);
}

.bg-custom {
    background-color: rgb(41 102 64);
  
}

.color-custom {
    color: white !important;
}


.list-menu li > a ,.section-footer .title {
   
    color: white ;
  
}
.bg-primary {
    background-color:  rgb(41 102 64) !important;
}

.btn-primary {
    color: #fff;
    background-color:  rgb(41 102 64) !important;
    border-color:  rgb(41 102 64) !important;
}



.name-product {
    height: 3rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

